h2{
    text-decoration: dashed underline;
    text-align: center;
}
table{
    background-color: rgba(83, 80, 79, 0.351);
    color: rgb(236, 234, 234);
    height: 500px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}
td,th{
    padding: 10px;
    text-align: center;
}
th{
    text-decoration: underline;
}