*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#left-block{
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(#ac98c4,#efd3b8);
}
#form{
    width: 50%;        
    background: white;
    margin: 0px 30px;
}
button{
    margin-top: 10px;
    width: 100%;
    height: 33px;
    background: #d9534f;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 3px
    
}
button:hover{
    background-color: #f0807c;
    cursor: pointer;
}
.text{
    width: 100%;
    margin: 10px 0;
    height: 36px;
}

#form_head{
    font-size: 30px;
    color: #d9534f;
}
label[for="password"],label[for="email"]{
     font-weight: bold;   
    }

@media only screen and (max-width: 767px){

    #container{
        flex-direction: column;
    }

    #left-block{
        /* removes left side block  */
        display: none;
    }

    #form{
        width: 90%;      
        margin: 40px auto;
    }

}